<link rel="stylesheet" href="../css/style-musica.css">
<body id="musica">
    <nav class="navbar">
        <h1>Maracufy</h1>
        <a href="#" class="botao-menu">
            <span class="barra"></span>
            <span class="barra"></span>
            <span class="barra"></span>
          </a>
          <div class="navbar-links">
            <ul>
                <li><a href="https://maracufy.herokuapp.com/busca">
                    <img src="../img/search.png" alt="icon-busca" id="icon-busca">
                    Busca
                </a></li>
                <li><a href="https://maracufy.herokuapp.com/estatisticas">
                    <img src="../img/trending.png" alt="icon-estatisticas" id="icon-estatisticas">
                    Estatísticas
                </a></li>
                <li><a href="https://maracufy.herokuapp.com/perfil">
                    <img src="../img/user.png" alt="icon-perfil" id="icon-perfil">
                    Perfil
                </a></li>
                <li><a href="https://maracufy.herokuapp.com/">
                    <img src="../img/logout.png" alt="icon-sair" id="icon-sair">
                    Sair
                </a></li>
            </ul>
          </div>
    </nav>
    
    <div class="review-wrapper">
        <div class="review-data">
            <h2 class="titulo-pagina" id="review-nome">Música</h2>
            <div id="conteudo-musica"></div>
            
        </div>
        <div class="review-data">
            <h2 class="titulo-pagina">Artista</h2>
            <div class="tab">
                <button id="artista-info"><p>Informações</p></button>
                <button id="artistas-similares"><p>Artistas similares</p></button>
            </div>
            <div id="conteudo-artista"></div>
        </div>
    </div>

    <div class="review-wrapper">
        <div class="review-data">
            <h2 class="titulo-pagina">Atributos</h2>
            <div id="conteudo-atributos">

            </div>
        </div>

        <div class="review-data">
            <h2 class="titulo-pagina">Álbum</h2>
            <div class="tab-album">
                <button id="album-faixas"><p>Faixas</p></button>
                <button id="album-player"><p>Player</p></button>
            </div>
            <div id="conteudo-album"></div>
            
        </div>
    </div>

    <div class="review-wrapper">
        <div class="user-review-data">
            <h2 class="titulo-pagina">Review</h2>
            <div id="titulo-avaliar-musica"></div>
            <form action="/musica/?id={{idm}}" method="post" autocomplete="off">
                <p>Nota (0 - 10)</p>
                <div class="inputwrapper">
                    <div>
                        <input type="number" id="nota" name="nota" min="0" max="10" required>
                    </div>
                </div>

                <p>Comentário (até 500 caracteres)</p>
                <div class="inputwrapper">
                    <div>
                        <input type="textarea" id="comentario" name="comentario" maxlength="500">
                    </div>
                </div>
                <br/>
                <button id="analise" type="submit">Enviar análise</button>
            </form>
            {{#if error}}<p id="erro">Erro na postagem</p>{{/if}}
        </div>

    </div>

    <div class="review-wrapper">
        <div class="user-review-history">
            <h2 class="titulo-pagina">Histórico</h2>
            <p>Reviews realizadas por outros usuários da plataforma.</p>
            <div id="conteudo-reviews-feitas">
                {{#each analises}}
                <div class="review-usuario">
                    <img class="review-capa-album" src="{{url_foto}}">
                    <div class="review-span">
                        <span class="review-nome-usuario">{{nome}}</span>
                        <span class="review-date">{{data}}<br/></span>
                        <span class="review-nota">⭐	Avaliação: </span>
                        <span class="review-nota-dada">{{nota}}/10</span>
                        <span class="review-nota">👍 Curtidas: </span>
                        <span class="review-curtidas-dadas">{{relevancia}}</span>

                        <span class="review-curtir"><form id="like" action="/like/?id={{id_musica}}" method="post"><input type="hidden" id="idr" name="idr" value="{{id_avaliacao}}"><button type="submit">{{#if curtida}}👎 Descurtir{{else}}👍 Curtir{{/if}}</button></form></span>

                        {{#if apagar}}<span class="review-apagar"><form id="apagar" action="/delete" method="post"><input type="hidden" id="idr" name="idr" value="{{id_avaliacao}}"><input type="hidden" id="idm" name="idm" value="{{id_musica}}"><button type="submit">Apagar</button></form></span>{{/if}}

                        <p class="review-conteudo"> {{comentario}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>

    

    <footer>    
        <footer>
        <nav>
        
            <a href="https://github.com/luizabm/maracufy-BD1" class="githubprojeto" target="_blank">
                <h2 id="githubs">Github</h2>
                <img src="../img/github-white.png" alt="logo github" id="img-github">
            </a>
        
            <ul>
                <li> <a href="https://github.com/ahmadkamel7" target="_blank"> Ahmad Kamel Abdouni</a> </li>
                <li> <a href="https://github.com/sm-gian" target="_blank"> Gianlucca Siqueira Maiellaro</a> </li>
                <li> <a href="https://github.com/luizabm" target="_blank"> Luiza Borghi de Mello</a> </li>
                <li> <a href="https://github.com/iwamotoraphael" target="_blank"> Raphael Nobuaki Iwamoto</a> </li>
            </ul>
        </nav>
        </footer>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script><!--defer-->

</body>